<h1>Bienvenue <%= current_user.first_name %> !</h1>
<p>Voici ton tableau de bord membre. Tu pourras retrouver ici tes prochaines activités, inscriptions et actualités !</p>

<h2>Mes inscriptions</h2>

<% if @registrations.any? %>
  <ul>
    <% @registrations.each do |registration| %>
      <li>
        <% registerable = registration.registerable %>

        <%# Lien vers l’activité selon son type %>
        <% case registration.registerable_type %>
        <% when 'Event' %>
          <%= link_to registerable.name, members_event_path(registerable) %>
        <% when 'Race' %>
          <%= link_to registerable.name, members_race_path(registerable) %>
        <% when 'Training' %>
          <%= link_to registerable.name, members_training_path(registerable) %>
        <% end %>

        <br>
        <%# Attention ici ne pas enlever le 'l' avant(registration.created_at)
        <%# car le 'l' est un allias pour localize(...) -> donc erreur syntaxe %>
        <em>Inscrit le <%= l(registration.created_at, format: :short) %></em>
            <%# registration.registerable -> L'événement auquel members est inscrit soit l'objet lié à l'inscription %>
            <%# Donc (registration.registerable, registration) %>
            <%# ==> Je passe en premier l’événement auquel le membre est inscrit, puis l’inscription elle-même %>
            <%# Ainsi Rails peut construire la bonne route imbriquée %>
            <%= link_to "modifier mon inscription", edit_members_race_registration_path(registration.registerable, registration),
            class: "btn btn-primary" %>
            <%= link_to "Annuler mon inscription", members_race_registration_path(registration.registerable, registration),
            data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir d'annuler ton inscription ?" },
            class: "btn btn-danger",
            aria: { label: "Annuler l'inscription #{registration.registerable.name}" }%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Vous n’êtes inscrit à aucune activité pour le moment.</p>
<% end %>


<hr>

<h3>Les courses</h3>

<% if @races.empty? %>
  <p>Il n'y a pas de course pour l'instant</p>
<% else %>
  <ul>
    <% @races.each do |race| %>
      <li><%= race.name %>
          <%= link_to members_race_path(race), class: "btn btn-primary", aria: { label: "Voir la course #{race.name}" } do %>
            <i class="fas fa-search"></i>
          <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<hr>
