<h1>Bonjour <%= current_user.first_name %></h1>
<h2>Bienvenue sur votre tableau de bord administrateur</h2>

<hr>

<h3>Les événements</h3>

  <% if @events.empty? %>
    <p>Vous n'avez pas d'événement enregistré pour le moment</p>
  <% else %>
    <ul>
      <% @events.each do |event| %>
        <li><%= event.name %>

          <%= link_to admin_event_path(event), class: "btn btn-primary", aria: { label: "Voir l'événement #{event.name}" } do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_admin_event_path(event),class: "btn btn-primary", aria: { label: "Modifier l'événement #{event.name}" } do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to admin_event_path(event),
            data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cet événement ?" },
            class: "btn btn-danger",
            aria: { label: "Supprimer l'événement #{event.name}" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>

<%= link_to admin_events_path, class: "btn btn-primary", aria: { label: "Voir tous les événements" } do %>
  <i class="fas fa-search-plus"></i>
<% end %>

<%= link_to new_admin_event_path, class: "btn btn-primary", aria: { label: "Créer un nouvel événement" } do %>
<i class="fas fa-plus"></i>
<% end %>

<hr>

<h3>Les entraînements</h3>

<% if @trainings.empty? %>
  <p>Vous n'avez pas d'entraînement crée pour le moment</p>
<% else %>
  <ul>
    <% @trainings.each do |training| %>
      <li><%= training.name %>

          <%= link_to admin_training_path(training), class: "btn btn-primary", aria: { label: "Voir l'entraînement #{training.name}" } do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_admin_training_path(training),class: "btn btn-primary", aria: { label: "Modifier l'entraînement #{training.name}" } do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to admin_training_path(training),
            data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cet entraînement ?" },
            class: "btn btn-danger",
            aria: { label: "Supprimer l'entraînement #{training.name}" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </li>
    <% end %>
  </ul>
<% end %>

<%= link_to admin_trainings_path, class: "btn btn-primary", aria: { label: "Voir tous les entraînements" } do %>
  <i class="fas fa-search-plus"></i>
<% end %>

<%= link_to new_admin_training_path, class: "btn btn-primary", aria: { label: "Créer un nouvel entraînement" } do %>
<i class="fas fa-plus"></i>
<% end %>

<hr>

<h3>Les courses</h3>

<% if @races.empty? %>
  <p>Vous n'avez pas de course créée pour le moment</p>
<% else %>
  <ul>
    <% @races.each do |race| %>
      <li><%= race.name %>

          <%= link_to admin_race_path(race), class: "btn btn-primary", aria: { label: "Voir la course #{race.name}" } do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_admin_race_path(race),class: "btn btn-primary", aria: { label: "Modifier la course #{race.name}" } do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to admin_race_path(race),
            data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cette course ?" },
            class: "btn btn-danger",
            aria: { label: "Supprimer la course #{race.name}" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </li>
    <% end %>
  </ul>
<% end %>

<%= link_to admin_races_path, class: "btn btn-primary", aria: { label: "Voir toutes les courses" } do %>
  <i class="fas fa-search-plus"></i>
<% end %>

<%= link_to new_admin_race_path, class: "btn btn-primary", aria: { label: "Créer une nouvelle course" } do %>
<i class="fas fa-plus"></i>
<% end %>

<hr>

<h3>Les articles</h3>

<% if @articles.empty? %>
  <p>Vous n'avez pas d'article crée pour le moment</p>
<% else %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= article.title %>

          <%= link_to admin_article_path(article), class: "btn btn-primary", aria: { label: "Voir l'article #{article.title}" } do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_admin_article_path(article),class: "btn btn-primary", aria: { label: "Modifier l'article #{article.title}" } do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to admin_article_path(article),
            data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cet article ?" },
            class: "btn btn-danger",
            aria: { label: "Supprimer l'article #{article.title}" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </li>
    <% end %>
  </ul>
<% end %>

<%= link_to admin_articles_path, class: "btn btn-primary", aria: { label: "Voir tous les articles" } do %>
  <i class="fas fa-search-plus"></i>
<% end %>

<%= link_to new_admin_article_path, class: "btn btn-primary", aria: { label: "Créer un nouvel article" } do %>
<i class="fas fa-plus"></i>
<% end %>

<hr>

<h3>Les galeries photos</h3>

<% if @galleries.empty? %>
  <p>Vous n'avez pas de galerie créée pour le moment</p>
<% else %>
  <ul>
    <% @galleries.each do |gallery| %>
      <li><%= gallery.title %>

          <%= link_to admin_gallery_path(gallery), class: "btn btn-primary", aria: { label: "Voir la galerie #{gallery.title}" } do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_admin_gallery_path(gallery),class: "btn btn-primary", aria: { label: "Modifier la galerie #{gallery.title}" } do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to admin_gallery_path(gallery),
            data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cette galerie ?" },
            class: "btn btn-danger",
            aria: { label: "Supprimer la galerie #{gallery.title}" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </li>
    <% end %>
  </ul>
<% end %>

<%= link_to admin_galleries_path, class: "btn btn-primary", aria: { label: "Voir toutes les galeries" } do %>
  <i class="fas fa-search-plus"></i>
<% end %>

<%= link_to new_admin_gallery_path, class: "btn btn-primary", aria: { label: "Créer une nouvelle galerie" } do %>
<i class="fas fa-plus"></i>
<% end %>

<hr>

<h3>Les membres</h3>

<% if @users.empty? %>
  <p>Vous n'avez pas de profil de membre inscrit sur le site</p>
<% else %>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.last_name %> - <%= user.first_name %>

          <%= link_to admin_user_path(user), class: "btn btn-primary", aria: { label: "Voir les données personnelles de #{user.last_name} - #{user.first_name}" } do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_admin_user_path(user),class: "btn btn-primary", aria: { label: "Modifier les données personnelles de #{user.last_name} - #{user.first_name}" } do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to admin_user_path(user),
            data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cet utilisateur ?" },
            class: "btn btn-danger",
            aria: { label: "Supprimer l'utilisateur #{user.last_name} - #{user.first_name}" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </li>
    <% end %>
  </ul>
<% end %>

<%= link_to admin_users_path, class: "btn btn-primary", aria: { label: "Voir tous les utilisateurs" } do %>
  <i class="fas fa-search-plus"></i>
<% end %>

<hr>

<h3>Les inscriptions en cours</h3>

<% if @recent_registrations.empty? %>
  <p>Aucune inscription récente</p>
<% else %>
  <ul>
    <% @recent_registrations.each do |registration| %>
      <li>
        <%= registration.user.first_name %> - <%= registration.user.last_name %>
        s'est inscrit à :
        <strong><%= registration.registerable.name %></strong>
        le <%= l(registration.created_at, format: :short) %>

        <%= link_to polymorphic_path([:admin, registration.registerable, registration]),
                    class: "btn btn-sm btn-info",
                    aria: { label: "Voir l'inscription de #{registration.user.first_name} - #{registration.user.last_name}" } do %>
          <i class="fas fa-search"></i>
        <% end %>

        <%= link_to polymorphic_path([:admin, registration.registerable, registration]),
                    data: { turbo_method: :delete, turbo_confirm: "Supprimer cette inscription ?" },
                    class: "btn btn-sm btn-danger",
                    aria: { label: "Supprimer l'inscription de #{registration.user.first_name} - #{registration.user.last_name}" } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to admin_users_path, class: "btn btn-primary", aria: { label: "Voir tous les utilisateurs" } do %>
  <i class="fas fa-search-plus"></i>
<% end %>
