<h1>Modification de votre inscription</h1>

<% if @registration.registerable.present? %>
  <p>Événement : <%= @registration.registerable.name %></p>
<% end %>

<%= simple_form_for @registration, url: polymorphic_path([:members, @registration.registerable, @registration]) do |f| %>
  <%= f.hidden_field :registerable_id %>
  <%= f.hidden_field :registerable_type %>

  <fieldset>
    <legend>Informations personnelles (non modifiables)</legend>
    <%= f.input :first_name, label: 'Prénom', input_html: { value: @registration.user.first_name, readonly: true } %>
    <%= f.input :last_name, label: 'Nom', input_html: { value: @registration.user.last_name, readonly: true } %>
    <%= f.input :birth_date, label: 'Date de naissance', input_html: { value: @registration.user.birth_date, readonly: true } %>
    <%= f.input :phone_number, label: 'Téléphone', input_html: { value: @registration.user.phone_number, readonly: true } %>
    <%= f.input :address, label: 'Adresse', input_html: { value: @registration.user.address, readonly: true } %>
    <%= f.input :post_code, label: 'Code Postal', input_html: { value: @registration.user.post_code, readonly: true } %>
    <%= f.input :town, label: 'Ville', input_html: { value: @registration.user.town, readonly: true } %>
  </fieldset>

  <fieldset>
    <legend>Informations sur la course (non modifiables)</legend>
    <%= f.input :race_number, label: 'Numéro de course', input_html: { value: @registration.user.race_number, readonly: true } %>
    <%= f.input :license_code, label: 'Code licence', input_html: { value: @registration.user.license_code, readonly: true } %>
    <%= f.input :license_number, label: 'Numéro de licence', input_html: { value: @registration.user.license_number, readonly: true } %>
    <%= f.input :club_name, label: 'Nom du club', input_html: { value: @registration.user.club_name, readonly: true } %>
  </fieldset>

  <fieldset>
    <legend>Informations sur le véhicule (modifiables)</legend>
    <%= f.input :bike_brand, label: 'Marque de moto', required: true, as: :string, input_html: { value: @registration.bike_brand } %>
    <%= f.input :cylinder_capacity, label: 'Cylindrée', required: true, input_html: { value: @registration.cylinder_capacity } %>
    <%= f.input :stroke_type, label: 'Type de moteur (2T/4T)', required: true, input_html: { value: @registration.stroke_type } %>
  </fieldset>

  <div class="mt-3">
    <%= f.button :submit, "Modifier l'inscription", class: "btn btn-primary" %>
  </div>
<% end %>

<p class="mt-3">
  ⚠️ Si vous souhaitez modifier vos informations personnelles, merci de passer par
  <%= link_to "la page de votre profil", edit_user_registration_path, class: "btn btn-warning btn-sm" %>.
</p>
