<h1>Inscription</h1>

<% if @race %>
  <p>Événement : <%= @race.name %></p>
<% end %>

<%= simple_form_for @registration, url: polymorphic_path([:members, @registration.registerable, :registrations]) do |f| %>
  <%= f.hidden_field :registerable_id %>
  <%= f.hidden_field :registerable_type %>

  <fieldset>
    <legend>Informations personnelles</legend>
    <%= f.input :first_name, label: 'Prénom', required: true, input_html: { value: current_user.first_name } %>
    <%= f.input :last_name, label: 'Nom', required: true, input_html: { value: current_user.last_name } %>
    <%= f.input :birth_date, label: 'Date de naissance', required: true, input_html: { value: current_user.birth_date } %>
    <%= f.input :phone_number, label: 'Téléphone', required: true, input_html: { value: current_user.phone_number } %>
    <%= f.input :address, label: 'Adresse', required: true, input_html: { value: current_user.address } %>
    <%= f.input :post_code, label: 'Code Postal', required: true, input_html: { value: current_user.post_code } %>
    <%= f.input :town, label: 'Ville', required: true, input_html: { value: current_user.town } %>
  </fieldset>

  <fieldset>
    <legend>Informations sur la course</legend>
    <%= f.input :race_number, label: 'Numéro de course', required: true, input_html: { value: current_user.race_number } %>
    <%= f.input :license_code, label: 'Licence Code', required: true, input_html: { value: current_user.license_code } %>
    <%= f.input :license_number, label: 'Numéro de licence', required: true, input_html: { value: current_user.license_number } %>
    <%= f.input :club_name, label: 'Nom de votre club', required: true, input_html: { value: current_user.club_name } %>
  </fieldset>

  <fieldset>
    <legend>Informations véhicule</legend>
    <%= f.input :bike_brand, label: 'Marque de votre moto', required: true, input_html: { value: current_user.bike_brand } %>
    <%= f.input :cylinder_capacity, label: 'Cylindrée', required: true, input_html: { value: current_user.cylinder_capacity } %>
    <%= f.input :stroke_type,
              required: true,
              input_html: { value: current_user.stroke_type } %>
  </fieldset>

  <%= f.button :submit, "S'inscrire" %>
<% end %>
