<h1 class="text-center">Bienvenue sur la page d'inscription pour : <br>
<%= @race.name %> !</h1>


<p class="lead">
  Nous serions ravis de vous voir participer à cette course.
  Vos informations personnelles sont déjà enregistrées sur votre profil.
  <br>
  ➡️ Si elles doivent être modifiées, <%= link_to "cliquez ici pour mettre à jour votre profil", edit_user_registration_path %>.
  <br>
  ✅ Si tout est correct, merci de compléter uniquement les informations véhicule ci-dessous :
</p>

<%= simple_form_for @registration, url: polymorphic_path([:members, @registration.registerable, :registrations]) do |f| %>
  <%= f.hidden_field :registerable_id %>
  <%= f.hidden_field :registerable_type %>

  <fieldset>
    <legend>Informations personnelles</legend>
    <%= f.input :first_name, label: 'Prénom', input_html: { value: current_user.first_name, readonly: true } %>
    <%= f.input :last_name, label: 'Nom', input_html: { value: current_user.last_name, readonly: true } %>
    <%= f.input :birth_date, label: 'Date de naissance', input_html: { value: current_user.birth_date, readonly: true } %>
    <%= f.input :phone_number, label: 'Téléphone', input_html: { value: current_user.phone_number, readonly: true } %>
    <small class="text-muted d-block">
      Pas de numéro de téléphone ou numéro erroné ?
      <%= link_to "Modifier votre profil", edit_user_registration_path %>
    </small>
  </fieldset>

  <fieldset>
    <legend>Informations sur la course</legend>
    <%= f.input :license_code, label: 'Licence Code', input_html: { value: current_user.license_code, readonly: true } %>
    <%= f.input :license_number, label: 'Numéro de licence', input_html: { value: current_user.license_number, readonly: true } %>
    <%= f.input :club_name, label: 'Nom de votre club', input_html: { value: current_user.club_name, readonly: true } %>
    <%= f.input :race_number, label: 'Numéro de course', placeholder: "Veuillez renseigner un numéro de course", required: true %>
  </fieldset>

  <fieldset>
    <legend>Informations véhicule</legend>
    <%= f.input :bike_brand,
      as: :select,
      collection: Registration::VALID_BRANDS,
      label: 'Marque de moto',
      prompt: "Sélectionner une marque",
      required: true %>

    <%= f.input :cylinder_capacity,
      as: :select,
      collection: Registration::BIKE_CYLINDER_CAPACITY,
      label: 'Cylindrée (cc)',
      prompt: "Sélectionner la cylindrée",
      required: true %>

    <%= f.input :stroke_type,
      label: "Type de moteur",
      collection: [['2 temps', 'two_stroke'], ['4 temps', 'four_stroke']],
      prompt: "Sélectionner le type" %>
  </fieldset>

  <div class="text-center my-4">
    <%= f.button :submit, "🏁 Je m'inscris à la course !", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<p class="small text-muted text-center">
  ⚠️ En cliquant sur "Je m’inscris", vous confirmez votre participation à la course.
  Vous pourrez gérer vos inscriptions depuis votre tableau de bord.
</p>
