<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= banner_image_race_url(@race) %>')">
    <h1><%= @race.name %></h1>
    <%= registration_link(@race) %>
  </div>

<p><%= @race.description %></p>

<%= link_to admin_dashboard_path, class: "btn btn-primary", aria: { label: "Retour au tableau de bord"} do %>
  <i class="fas fa-home"></i>
<% end %>
