<div class="article-preview mb-4 d-flex align-items-start">
  <div class="me-3">
    <% if article.image.attached? %>
      <%= image_tag(article.image, size: "120x120", class: "img-thumbnail") %>
    <% else %>
      <%= image_tag("https://cdn.pixabay.com/photo/2016/11/29/13/17/coffee-1869772_1280.jpg",
                    size: "120x120", class: "img-thumbnail") %>
    <% end %>
  </div>

  <div>
    <h2 class="h5 mb-1">
      <%# 'path' permet ici d'avoir toujours un lien correct coté public ou admin  %>
      <%# Ce qui permet de faire path: admin_article_path ou article_path %>
      <%= link_to article.title, path, class: "text-decoration-none" %>
    </h2>
    <p class="text-muted mb-2"><%= l(article.created_at, format: :short) %></p>
    <p><%= truncate(article.content, length: 150, separator: ' ') %></p>
  </div>
</div>
<hr>
