<div class="container mt-4">
<div class="col12">
  <div class="card-article-preview shadow-sm rounded-4 h-100 position-relative">
    <div class="row g-0 h-100">

      <%# Image %>
      <div class="col-5 d-flex align-items-center justify-content-center p-2">
        <% if article.image.attached? %>
          <%= image_tag article.image,
              class: "img-fluid rounded-start img-card-hp",
              alt: article.title %>
        <% else %>
          <%= image_tag "default_article.jpeg",
              class: "img-fluid rounded-start img-card-hp",
              alt: article.title %>
        <% end %>
      </div>

      <%# Infos %>
      <div class="col-7 mt-2">
        <div class="text-center px-2">
          <h4 class="mb-1 fs-3">
            <%= link_to article.title, path %>
          </h4>
          <p class="mb-0"><%= truncate(article.content, length: 50, separator: ' ') %></p>
          <small class="mb-2 d-block text-tertiary">Publié le <%= l(article.created_at.to_date, format: "%d %B %Y") %></small>

          <%# Lien qui rend toute la card cliquable %>
          <%= link_to "", path, class: "stretched-link" %>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
