<% if defined?(paginated) && paginated.respond_to?(:total_pages) && paginated.total_pages > 1 %>
  <% qp = request.query_parameters %>
  <nav class="mt-5">
    <ul class="pagination justify-content-center flex-wrap gap-2">

      <%# Première page %>
      <% if paginated.first_page? %>
        <li class="page-item disabled">
          <span class="page-link"><i class="fas fa-angle-double-left"></i></span>
        </li>
      <% else %>
        <li class="page-item">
          <%= link_to url_for(qp.merge(page: 1, anchor: (defined?(anchor) ? anchor : nil))),
                      class: "page-link btn-nxr", title: "Première page" do %>
            <i class="fas fa-angle-double-left"></i>
          <% end %>
        </li>
      <% end %>

      <%# Page précédente %>
      <% if paginated.prev_page %>
        <li class="page-item">
          <%= link_to url_for(qp.merge(page: paginated.prev_page, anchor: (defined?(anchor) ? anchor : nil))),
                      class: "page-link btn-nxr", title: "Page précédente" do %>
            <i class="fas fa-angle-left"></i>
          <% end %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <span class="page-link"><i class="fas fa-angle-left"></i></span>
        </li>
      <% end %>

      <%# Pages numérotées (fenêtre autour de la page courante) %>
      <% (paginated.current_page - 2..paginated.current_page + 2).each do |page_number| %>
        <% next if page_number < 1 || page_number > paginated.total_pages %>

        <% if page_number == paginated.current_page %>
          <li class="page-item active">
            <span class="page-link btn-nxr-orange fw-bold"><%= page_number %></span>
          </li>
        <% else %>
          <li class="page-item">
            <%= link_to page_number,
                        url_for(qp.merge(page: page_number, anchor: (defined?(anchor) ? anchor : nil))),
                        class: "page-link btn-nxr" %>
          </li>
        <% end %>
      <% end %>

      <%# Page suivante %>
      <% if paginated.next_page %>
        <li class="page-item">
          <%= link_to url_for(qp.merge(page: paginated.next_page, anchor: (defined?(anchor) ? anchor : nil))),
                      class: "page-link btn-nxr", title: "Page suivante" do %>
            <i class="fas fa-angle-right"></i>
          <% end %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <span class="page-link"><i class="fas fa-angle-right"></i></span>
        </li>
      <% end %>

      <%# Dernière page %>
      <% unless paginated.last_page? %>
        <li class="page-item">
          <%= link_to url_for(qp.merge(page: paginated.total_pages, anchor: (defined?(anchor) ? anchor : nil))),
                      class: "page-link btn-nxr", title: "Dernière page" do %>
            <i class="fas fa-angle-double-right"></i>
          <% end %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <span class="page-link"><i class="fas fa-angle-double-right"></i></span>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
