<div class="banner-hp" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner_mcnc.jpeg') %>);">
  <div class="container">
    <h1>Rejoignez le <strong>club</strong> MCNC</h1>
    <p>L'aventure commence ici ...</p>
    <div class="mt-4">
      <%= link_to "Créer un compte", new_user_registration_path, class: "btn-nxr" %>
      <%= link_to "En savoir plus", new_user_session_path, class: "btn-nxr-orange" %>
    </div>
  </div>
</div>

<div class="container my-5">
  <h2 class="mb-4 text-center fs-1 fw-bold text-uppercase">Les événements à venir</h2>

  <% if @upcoming_activities.present? %>
    <div class="row g-4">
      <% @upcoming_activities.each do |activity| %>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="card-homepage shadow-sm rounded-4 h-100 position-relative">
            <div class="row g-0 h-100">

              <%# Image %>
              <div class="col-5 d-flex align-items-center justify-content-center p-2">
                <% if activity.respond_to?(:image) && activity.image.attached? %>
                  <%= image_tag activity.image, class: "img-fluid rounded-start img-card-hp", alt: activity.name %>
                <% else %>
                  <% default_image =
                    case activity.type
                    when "Race" then "race_flag.png"
                    when "Training" then "training_img.png"
                    when "Event" then "logo_mcnc_3.png"
                    else "logo_mcnc_3.png"
                    end
                  %>
                  <%= image_tag default_image, class: "img-fluid rounded-start img-card-hp", alt: activity.name %>
                <% end %>
              </div>

              <%# Infos %>
              <div class="col-7 mt-2">
                <div class="card-body text-center px-2">
                  <h6 class="card-title mb-1"><%= activity.name %></h6>
                  <small class="mb-2 d-block"><%= l(activity.date, format: "%d %B %Y") %></small>

                  <%# Lien invisible qui rend toute la card cliquable %>
                  <% view_path = case activity.type
                                when "Race" then public_race_path(activity.id)
                                when "Event" then public_event_path(activity.id)
                                when "Training" then public_training_path(activity.id)
                                end %>
                  <%= link_to "", view_path, class: "stretched-link" %>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="col-md-6 col-lg-4 mx-auto">
      <div class="card-homepage shadow-sm rounded-4 h-100 d-flex align-items-center justify-content-center text-center p-4">
        <p class="mb-0">Aucun événement à venir pour le moment.</p>
      </div>
    </div>
  <% end %>
</div>

<%# Les News %>
<div class="container my-5">
  <h2 class="mb-4 text-center fs-1 fw-bold text-uppercase">Les News</h2>

  <% if @articles.present? %>
    <div class="row g-4">
      <% @articles.each do |article| %>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="card-homepage shadow-sm rounded-4 h-100 position-relative">
            <div class="row g-0 h-100">

              <%# Image %>
              <div class="col-5 d-flex align-items-center justify-content-center p-2">
                <%= image_tag(article.image.attached? ? article.image : "default_article.jpeg",
                    class: "img-fluid rounded-start img-card-hp",
                    alt: article.title)
                %>

              </div>

              <%# Infos %>
              <div class="col-7 mt-2">
                <div class="card-body text-center px-2">
                  <h6 class="card-title mb-1"><%= article.title %></h6>
                  <small class="mb-2 d-block">Publié le <%= l(article.created_at.to_date, format: "%d %B %Y") %></small>

                  <%# Lien qui rend toute la card cliquable %>
                  <%= link_to "", public_article_path(article), class: "stretched-link" %>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="col-md-6 col-lg-4 mx-auto">
      <div class="card-homepage shadow-sm rounded-4 h-100 d-flex align-items-center justify-content-center text-center p-4">
        <p class="mb-0">Aucune actualité pour le moment.</p>
      </div>
    </div>
  <% end %>
</div>

<%# Les Photos %>
<div class="container my-5">
  <h2 class="mb-4 text-center fs-1 fw-bold text-uppercase">Albums Photos</h2>

  <% if @galleries.present? %>
    <div class="row g-4">
      <% @galleries.each do |gallery| %>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="card-homepage shadow-sm rounded-4 h-100 position-relative">
            <div class="row g-0 h-100">

              <%# Image %>
              <div class="col-5 d-flex align-items-center justify-content-center p-2">
                <% if gallery.images.attached? %>
                  <%= image_tag gallery.images.first,
                      class: "img-fluid rounded-start img-card-hp",
                      alt: gallery.title
                  %>
                <% else %>
                  <%= image_tag "logo_mcnc_3.png",
                      class: "img-fluid rounded-start img-card-hp",
                      alt: gallery.title
                  %>
                <% end %>
              </div>

              <%# Infos %>
              <div class="col-7 mt-2">
                <div class="card-body text-center px-2">
                  <h6 class="card-title mb-1"><%= gallery.title %></h6>
                  <small class="mb-2 d-block">Publié le <%= l(gallery.created_at.to_date, format: "%d %B %Y") %></small>

                  <%# Lien qui rend toute la card cliquable %>
                  <%= link_to "", public_gallery_path(gallery), class: "stretched-link" %>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="col-md-6 col-lg-4 mx-auto">
      <div class="card-homepage shadow-sm rounded-4 h-100 d-flex align-items-center justify-content-center text-center p-4">
        <p class="mb-0">Aucune photos pour le moment.</p>
      </div>
    </div>
  <% end %>
</div>
