<h1>Détail de l'inscription de <%= @registration.user.first_name %> <%= @registration.user.last_name %> à : <br>
  <%= @registration.registerable.name %>
</h1>

<fieldset>
  <legend>Informations personnelles</legend>
  <ul>
    <li><strong>Prénom :</strong> <%= @registration.user.first_name %></li>
    <li><strong>Nom :</strong> <%= @registration.user.last_name %></li>
    <li><strong>Date de naissance :</strong> <%= @registration.user.birth_date %></li>
    <li><strong>Téléphone :</strong> <%= @registration.user.phone_number %></li>
    <li><strong>Email :</strong> <%= @registration.user.email %></li>
    <li><strong>Adresse :</strong> <%= @registration.user.address %></li>
    <li><strong>Code postal :</strong> <%= @registration.user.post_code %></li>
    <li><strong>Ville :</strong> <%= @registration.user.town %></li>
  </ul>
</fieldset>

<fieldset>
  <legend>Informations sur la course</legend>
  <ul>
    <li><strong>Numéro de course :</strong> <%= @registration.race_number %></li>
    <li><strong>Code licence :</strong> <%= @registration.user.license_code %></li>
    <li><strong>Numéro licence :</strong> <%= @registration.user.license_number %></li>
    <li><strong>Nom du club :</strong> <%= @registration.user.club_name %> <%= @registration.user.club_affiliation_number %></li>
  </ul>
</fieldset>

<fieldset>
  <legend>Informations véhicule</legend>
  <ul>
    <li><strong>Marque moto :</strong> <%= @registration.bike_brand %></li>
    <li><strong>Cylindrée :</strong> <%= @registration.cylinder_capacity %></li>
    <li><strong>Type de moteur :</strong> <%= @registration.stroke_type %></li>
  </ul>
</fieldset>

<% if @registration.pending? && current_user.admin? %>
  <div>
    <p>Statut actuel : <%= @registration.status.capitalize %></p>

    <%= simple_form_for @registration, url: admin_validate_admin_registration_path(@registration), method: :patch, html: { class: "d-inline" } do |f| %>
      <%= f.button :submit, "Valider l'inscription", class: "btn btn-success", data: { turbo_confirm: "Valider cette inscription ?" } %>
    <% end %>

    <%= simple_form_for @registration, url: admin_reject_admin_registration_path(@registration), method: :patch, html: { class: "d-inline" } do |f| %>
      <%= f.button :submit, "Refuser l'inscription", class: "btn btn-danger", data: { turbo_confirm: "Refuser cette inscription ?" } %>
    <% end %>

  </div>

  <% elsif @registration.validated? %>
    <p class= "text-success"> Statut : Inscription validée</p>
  <% elsif @registration.rejected? %>
    <p class= "text-danger"> Statut : Inscription rejetée</p>
<% end %>
