<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2017/07/18/23/23/user-2517433_1280.png);">
  <h1>Modifier les données utilisateur</h1>
    <h3><%= @user.last_name %> - <%= @user.first_name %></h3>
    <div>
      <% if @user.avatar.attached? %>
       <%= image_tag(@user.avatar, class: "avatar ms-4", alt: "Avatar de #{@user.first_name}") %>
      <% else %>
        <%= image_tag "https://cdn.pixabay.com/photo/2017/08/29/23/49/abstract-background-2695347_1280.jpg", class: "avatar", alt: "Avatar par défaut" %>
      <% end %>
    </div>
</div>

<%= render "form" %>
