<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2017/07/18/23/23/user-2517433_1280.png);">
  <h1><%= @user.last_name %> - <%= @user.first_name %></h1>
  <div>
  <% if @user.avatar.attached? %>
    <%= image_tag(@user.avatar, class: "avatar", alt: "Avatar de #{@user.first_name}") %>
  <% else %>
    <p>Aucun avatar défini</p>
  <% end %>
</div>

</div>

<p>Numéro de téléphone : <%= @user.phone_number %></p>

<%# Permet de télécharger en format JSON les données utilisateur - conforme RGPD %>
<%= link_to "📤 Exporter fiche RGPD (JSON)", admin_user_path(@user, format: :json), class: "btn btn-primary", target: "_blank" %>

<%= link_to admin_dashboard_path, class: "btn btn-primary", aria: { label: "Retour au tableau de bord"} do %>
  <i class="fas fa-home"></i>
<% end %>
